@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

img{
    width: 100%;
    height: auto;
}

#h{
    float: right;
    list-style: none;

}
.h{
    display: inline-flex;
    font-family: 'Open Sans';
    padding: 10px;
    
}
a{
    text-decoration: none;
}


h1{
    font-family: 'Noto Sans JP';
    
}


.t{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 30px;

}

.btn{
    
    background: #e74c3c;

    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 57%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: 'Open Sans';
    height: 40px;

}

.h_a :focus :hover {
    padding-bottom: 5px;
    border-bottom: black solid;
    
}
.h_a{
    transition: ease-in 0.5;
}
